* {
	box-sizing: border-box;
  }

  /* bodyタグ (html全体のレイアウト) */
  body {
	margin: 0;
	background-color: #f0f8ff;
	height: 100%;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	text-align: center;
  }