* {
	box-sizing: border-box;
}

/* bodyタグ (html全体のレイアウト) */
body {
	margin: 0;
	background-color: #f0f8ff;
	height: 100%;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	text-align: center;
}
h1 {
	color: #0088ff;
	letter-spacing: 12px;
}
.top h3 {
	color: #4169e1;
	margin: 5px;
}

.Github {
	margin: 20px;
}
a {
	font-size: 20px;
	color: black;
}
p {
	margin: 0;
}

.bottom {
	margin-top: 50px;
}